.timer-bar{
    background-image: url('C:\Users\CHARLI\personal-projects\fitness-hub\fitness-hub\public\images\img-4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 70vh;
}
.timer-bar h1{
    color: white;
    text-align: center;
    padding-top: 6%;
    font-size: 50px;
    margin-bottom: 5%;
}
.timer-bar h2{
    width: 40%;
    color: white;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.workspace{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(253, 250, 250);
  }
.main-card{
    width: 310px;
    min-height: 20vh;
    padding: 2px;
    margin: 3vh;
    background-color: white;
    border: 1px solid black;
    box-shadow: 10px 10px 10px;
}
.task{
    padding-top: 2%;
}
.cardslist{
    display: flex;
    flex-wrap: wrap;
}
.cardtask{
    height: 13vh;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
.cardbtns{
    border: 1px solid black;
    height: 7vh;
    display: flex;
}
.delete, .start, .resume{
    cursor: pointer;
    background-color: #4CAF50;
    border: 1px solid black;
    margin: 2px 7px 2px 2px;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 24%;
    font-weight: 600;
    background-image: linear-gradient(to right, purple, rgb(40, 40, 212));
}
.delete:hover, .start:hover, .edit:hover{
    transform: scale(1.06);
    transition: all 0.2s ease-out;
}
.edit{
    cursor: pointer;
    background-color: #4CAF50;
    border: 1px solid black;
    margin: 2px 7px 2px 2px;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 18%;
    font-weight: 500;
    background-image: linear-gradient(to right, purple, rgb(40, 40, 212));
}
.stop{
    cursor: pointer;
    background-color: maroon;
    font-size: 16px;
    width: 24%;
    color: white;
    margin: 2px 7px 2px 2px;
    font-weight: 500;
}
.edit-panel {
    display: flex;
}
.edit-panel > input {
    flex-grow: 1;
}
.time-input{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 26%;
    margin: 2px 4px 2px 2px;
    border: 1px solid black;
}